{% extends 'hangmangame/header.html' %}
{% block content %}
<div class="match" align="center">
  <h1>Click <a href="{% url 'hangmangame:stats' gamestate.owner %}">
      {{ model }}</a> for stats.
  </h1>
  <p>Incorrect guesses: {{ gamestate.bad_guess_counter }}</p>
  <div class="hangman-image" align="left">
    <pre><p>{{ hangman_image }}</p></pre>
  </div>
  <h2>{{ gamestate.word_in_play }}</h2>
  <form method="post" class="guess-form">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="submit btn btn-default">GUESS!</button>
  </form>
  <div class="guessed-letters" align="center">
    <p><u>You have already guessed:</p></u>
    {% for letter in gamestate.guessed_letters_sorted %}
      <strong>{{ letter }}</strong>,
    {% endfor %}
  </div>
</div>
{% endblock %}
